# Created by https://www.toptal.com/developers/gitignore/api/macos,synology
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,synology

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Synology ###
# Thumbnails
@eaDir
# Recycle bin
\#recycle

# End of https://www.toptal.com/developers/gitignore/api/macos,synology
*.swp
~*
*~
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_notebooks/.ipynb_checkpoints
_site
