$base-font-size:   1em !default;
$base-line-height: 1.2 !default;

// Width of the content area
$content-width:    1280px !default;

$on-palm:          600px !default;
$on-laptop:        1280px !default;
